@page
@model Lab4.Pages.Vechicles.DeleteModel

@{
    ViewData["Title"] = ConfigStrings.Delete;
}

<h1>@ConfigStrings.Delete</h1>

<h3>@ConfigStrings.DeleteConfirm @ConfigStrings.Vechicle?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VechicleModel.Company)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VechicleModel.Company)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VechicleModel.ModelType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VechicleModel.ModelType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VechicleModel.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VechicleModel.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VechicleModel.RegistrationNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VechicleModel.RegistrationNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VechicleModel.RegistrationCity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VechicleModel.RegistrationCity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VechicleModel.Distance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VechicleModel.Distance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VechicleModel.WasRepaired)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VechicleModel.WasRepaired)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="VechicleModel.ID" />
        <input type="submit" value=@ConfigStrings.Delete class="btn btn-danger" /> | 
        <a asp-page="Index" class="btn border-top box-shadow my-btn">@ConfigStrings.Back</a>
    </form>
</div>
