@page
@model PrivacyModel
@{
    ViewData["Title"] = Config.PivacyTabName;
}

@{ long temp = DateTime.MaxValue.Ticks;}

<h1>@ViewData["Title"]</h1>

<p>
    Автор: @Config.Name<br>
    Студент группы: @Config.Group<br>
</p>

<div class="table_decription">
    <h3>Таблица 1 "@Config.Table1"</h3>
    <p>Таблица сформирована с помощью Razor Pages на основе EF(CRUD) через модель MovieModel. Содержит в себе простую таблицу из базы данных по тематике "@Config.Table1" </p>
    <p>
        Описание полей:
        <ul class="table_decription_list">
            <li>
                <b>Название</b>
                <br>Тип данных: <b><i>string</i></b>
                <br>Фильтры
                <ul>
                    <li>Длина строки больше или равна 1 символ</li>
                    <li>Длина строки меньше или равна 64 символа</li>
                </ul>
            </li>
            <li>
                <b>Дата выхода</b>
                <br>Тип данных: <b><i>DateTime</i></b>
                <br>Фильтры
                <ul>
                    <li>Отсутствуют</li>
                </ul>
            </li>
            <li>
                <b>Жанр</b>
                <br>Тип данных: <b><i>string</i></b>
                <br>Фильтры
                <ul>
                    <li>Длина строки больше или равна 1 символ</li>
                    <li>Длина строки меньше или равна 64 символа</li>
                    <li>Допустимы только буквы и пробел</li>
                </ul>
            </li>
            <li>
                <b>Длительность</b>
                <br>Тип данных: <b><i>int</i></b>
                <br>Фильтры
                <ul>
                    <li>Минимум: <b><i>0</i></b></li>
                    <li>Максимум: <b><i>9999</i></b></li>
                </ul>
            </li>
            <li>
                <b>Цена</b>
                <br>Тип данных: <b><i>decimal</i></b>
                <br>Фильтры
                <ul>
                    <li>Минимум: <b><i>0</i></b></li>
                    <li>Максимум: <b><i>999999</i></b></li>
                </ul>
            </li>
        </ul>
    </p>
</div>
<br>
<div class="table_decription">
    <h3>Таблица 2 "@Config.Table2"</h3>
    <p>Таблица сформирована с помощью Razor Pages на основе EF(CRUD) через модель VechicleModel. Содержит в себе простую таблицу из базы данных по тематике "@Config.Table2" </p>
    <p>
        Описание полей:
        <ul class="table_decription_list">
            <li>
                <b>Марка</b>
                <br>Тип данных: <b><i>string</i></b>
                <br>Фильтры
                <ul>
                    <li>Длина строки больше или равна 1 символ</li>
                    <li>Длина строки меньше или равна 64 символа</li>
                    <li>Допустимы только буквы и пробел</li>
                </ul>
            </li>
            <li>
                <b>Модель</b>
                <br>Тип данных: <b><i>string</i></b>
                <br>Фильтры
                <ul>
                    <li>Длина строки больше или равна 1 символ</li>
                    <li>Длина строки меньше или равна 64 символа</li>
                </ul>
            </li>
            <li>
                <b>Год выпуска</b>
                <br>Тип данных: <b><i>int</i></b>
                <br>Фильтры
                <ul>
                    <li>Минимум: <b><i>1885</i></b>, год первого серийного автомобиля</li>
                    <li>Максимум: <b><i>2021</i></b>, текущий год написания сайта</li>
                </ul>
            </li>
            <li>
                <b>Регистрационный номер</b>
                <br>Тип данных: <b><i>string</i></b>
                <br>Фильтры
                <ul>
                    <li>Длина строки больше или равна 6 символ</li>
                    <li>Длина строки меньше или равна 6 символа</li>
                    <li>Ввод по маске: <b><i>cdddcc</i></b>, где с - строчная буква кириллицы. d - цифра</li>
                </ul>
            </li>
            <li>
                <b>Регион</b>
                <br>Тип данных: <b><i>int</i></b>
                <br>Фильтры
                <ul>
                    <li>Минимум: <b><i>1</i></b></li>
                    <li>Максимум: <b><i>199</i></b></li>
                </ul>
            </li>
            <li>
                <b>Пробег</b>
                <br>Тип данных: <b><i>int</i></b>
                <br>Фильтры
                <ul>
                    <li>Минимум: <b><i>0</i></b></li>
                    <li>Максимум: <b><i>999999</i></b></li>
                </ul>
            </li>
            <li>
                <b>Ремотировалась</b>
                <br>Тип данных: <b><i>bool</i></b>
                <br>Фильтры
                <ul>
                    <li>отсутствуют
                </ul>
            </li>
        </ul>
    </p>
</div>